{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- content -->
    <div class="flex-grow">
        <div class="card bg-base-100 shadow-xl mt-4 ml-4 mb-2">
            <div class="card-body">
                <div class="card-title">{{ question.question_text }}</div>
                <form action="{% url 'polls:vote' question.id %}" method="post">
                    {% csrf_token %}
                    <fieldset>
                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        {% for choice in question.choices.all %}
                            <div class="pb-2">
                                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                            </div>
                        {% endfor %}
                    </fieldset>
                    <button type="submit" class="btn btn-secondary" style="color: black">Vote</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}