{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="flex flex-col h-screen">
        <div class="navbar bg-info">
            <div class="flex-1">
                <img src="{% static 'polls/images/PyCharm.svg' %}" class="h-auto w-64"/>
            </div>
            <div class="flex-none gap-2">
                <div class="form-control">
                    <input type="text" placeholder="Search" class="input input-bordered"/>
                </div>
                <div class="dropdown dropdown-end">
                    <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                        <div class="w-10 rounded-full">
                            <img id="avatar" src="{% static 'polls/images/man.png' %}"/>
                        </div>
                    </label>
                    <ul tabindex="0"
                        class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
                        <li>
                            <a id="profile" class="justify-between">
                                Profile
                                <span class="badge">New</span>
                            </a>
                        </li>
                        <li><a>Settings</a></li>
                        <li><a>Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- content -->
        <div class="flex-grow">
            <div class="grid gap-4 grid-cols-4 mx-2 mt-2">
                {% if latest_question_list %}
                    {% for question in latest_question_list %}
                        <div class="card lg:card-side bg-base-100 shadow-xl">
                            <figure><img src="{% static 'polls/images/jb_beam.png' %}" alt="Album" class="w-32"/>
                            </figure>
                            <div class="card-body">
                                <h2 class="card-title">Question Number {{ question.id }}</h2>
                                <p class="question_text">{{ question.question_text }}</p>
                                <div class="card-actions justify-end">
                                    <!--<button class="btn btn-primary">Listen</button>-->
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No polls are available.</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}

