{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome to PyCon US 2023</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

<div class="flex flex-col h-screen">
    <div class="navbar bg-info">
        <div class="flex-1">
            <img src="{% static 'polls/images/PyCharm.svg' %}" class="h-auto w-64"/>
        </div>
        <div class="flex-none gap-2">
            <a class="bg-purple-900 text-white hover:bg-blue-400 font-bold py-2 px-4 mt-3 rounded"
           href="{% url 'polls:index' %}">Polls</a>
            <a class="bg-purple-900 text-white hover:bg-blue-400 font-bold py-2 px-4 mt-3 rounded"
           href="{% url 'blog:index' %}">Blog</a>
        </div>
    </div>
    {% block content %}{% endblock content %}

    <!-- footer -->
    <footer class="footer mt-500 p-10 bg-neutral text-neutral-content">
        <div>
            <span class="footer-title">Products</span>
            <a class="link link-hover">IDEs</a>
            <a class="link link-hover">.NET & Visual Studio</a>
            <a class="link link-hover">Team Tools</a>
            <a class="link link-hover">Plugins</a>
        </div>
        <div>
            <span class="footer-title">Solutions</span>
            <a class="link link-hover">C++ Tools</a>
            <a class="link link-hover">Data Tools</a>
            <a class="link link-hover">DevOps</a>
            <a class="link link-hover">Education</a>
        </div>
        <div>
            <span class="footer-title">Initiatives</span>
            <a class="link link-hover">Kotlin</a>
            <a class="link link-hover">JetBrains Mono</a>
            <a class="link link-hover">JetBrains Research</a>
        </div>
    </footer>
</div>
<script src="https://unpkg.com/htmx.org@1.9.8"></script>
</body>
</html>